footer {
  text-align: center;
}
footer p {
  text-align: center;
  color: rgb(116, 116, 116);
}
nav {
  display: flex;
  justify-content: space-around;
  position: sticky;
  top: 0;
}
#logoicon {
  margin-top: 10px;
  height: 33px;
  width: 268px;
  max-width: 100%;
  cursor: pointer;
}
.menu {
  margin-left: 20px;
}
#about {
  color: #00c3a5;
}
li:hover {
  color: #00c3a5;
  cursor: pointer;
}
ul {
  display: flex;
  list-style: none;
  font-family: Roboto, Arial, sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 30px;
  color: rgb(150, 150, 150);
}
.submenu {
  display: none;
  position: absolute;
  box-shadow: 2px 2px 10px 0px rgba(163, 163, 163, 0.75);
  height: 220px;
  width: 220px;
  min-width: 220px;
  text-align: left;
  margin: 0 0 0 -100px;
}
#Departement:hover .submenu {
  display: block;
}
.submenu li:hover {
  background-color: rgb(240, 240, 240);
}
.submenuitem {
  font-family: Roboto, Arial, sans-serif;
  font-size: 15px;
  font-weight: 400px;
  line-height: 18px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 10px;
  margin-left: -100;
  color: rgb(171, 171, 171);
}
.logodiv {
  text-align: center;
  margin-top: 40px;
}
h1 {
  font-family: "Work Sans", Arial, sans-serif;
  font-size: 34px;
  font-weight: 300;
  line-height: 44.2px;
  color: rgb(0, 179, 155);
}
.parag {
  display: flex;
  justify-content: center;
  color: rgb(116, 116, 116);
}
.pg {
  margin-left: 20px;
  justify-content: center;
  height: 112px;
  width: 447.5em;
  font-family: Roboto, Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
}
.pd {
  margin-right: 20px;
  justify-content: center;
  height: 112px;
  width: 447.5em;
  font-family: Roboto, Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
}
.services__item--marketplace {
  background-color: #1ad1b9;
  justify-content: center;
  text-align: left;
}
.services__item--saas {
  background-color: #3d83df;
  justify-content: center;
  text-align: left;
}
.services__item--clinics {
  background-color: #1b2734;
  justify-content: center;
  text-align: left;
}
.gridfade-elements {
  display: flex;
  justify-content: space-between;
}
